li a.active {
    background-color: red !important;
    color: white !important;
}

li a {
    background-color: transparent;
    color: black !important;
}

.nav {
    justify-content: center;
    gap: 30px;
}

.img-fluid {
    width: 100%;
    max-width: 100%;
    height: 300px !important;
}

.row {
    margin: 30px 0px;
}

.video-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
    object-fit: cover;
}

.video-gallery .lightbox:before {
    font-family: FontAwesome;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    color: #fff;
    font-size: 15px;
    content: '\f04b  Watch Video';
    letter-spacing: 3px;
    z-index: 9;
    transition: 0.4s;
    border-bottom: 1px solid;
    transform: translate(-50%, -50%);
}

.video-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    content: '';
    transition: 0.4s;
    max-width: 100%;
    margin: 0px 15px;
}

.video-gallery .lightbox:hover:after,
.video-gallery .lightbox:hover:before {
    opacity: 1;
}

.video-gallery .lightbox:hover .play-btn {
    opacity: 0;
    transition: all .5s ease-in-out;
}

.nav-link {
    padding: 10px !important;
    border-radius: 0.25rem;
    margin-top: 20px;
}

.body-open {
    overflow: hidden;
}

.play-btn {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    font-size: 30px;
    top: 50%;
    transition: all .5s ease-in-out;
}

.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: 0.8;
}

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
}

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    box-sizing: border-box;
}

.mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
    display: none;
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto;
}

.mfp-ajax-cur {
    cursor: pointer;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: pointer;
}

.mfp-zoom {
    cursor: pointer;
}

.mfp-auto-cursor .mfp-content {
    cursor: pointer;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
    user-select: none;
}

.mfp-loading.mfp-figure {
    display: none;
}

.mfp-hide {
    display: none !important;
}

.mfp-preloader {
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 1044;
}

.mfp-s-ready .mfp-preloader {
    display: none;
}

.mfp-s-error .mfp-content {
    display: none;
}

button.mfp-close,
button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    box-shadow: none;
    touch-action: manipulation;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    padding: 0 0 18px 10px;
    color: #FFF;
    font-style: normal;
    font-size: 28px;
}

.mfp-close:hover,
.mfp-close:focus {
    opacity: 1;
}

.mfp-close:active {
    top: 1px;
}

.mfp-arrow {
    position: absolute;
    opacity: 1;
    margin: 0;
    top: 50%;
    margin-top: -55px;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:before,
.mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent;
}

.mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px;
}

.mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7;
}

.mfp-arrow-left {
    left: 0;
}

.mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px;
}

.mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
    right: 0;
}

.mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px;
}

.mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
    top: -40px;
}

.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

@media screen and (min-width:320px) and (max-width:840px) {

    .video-gallery .lightbox img {
        margin: 0px 0px 20px;
    }

    .nav {
        flex-direction: row;
        flex-wrap: nowrap !important;
        align-items: center;
        margin-top: 20px !important;
        overflow: hidden;
        overflow-x: scroll;
    }

    .nav-link {
        padding: 5px !important;
        border-radius: 0.25rem;
        width: max-content;
    }

    .container {
        padding: 0px !important;
        margin: 0px auto !important;
    }
}